/* Giroy */


@font-face {
    font-family: "Gilroy";
    src: url("Gilroy-Light.otf") format("truetype");
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: "Gilroy";
    src: url("Gilroy-ExtraBold.otf") format("truetype");
    font-weight: 600;
    font-style: normal;

}
