.text-black {
  color: #1d1d1d !important; }

.text-primary {
  color: #0094D8 !important; }

.text-secondary {
  color: #3f4b62 !important; }

.text-white {
  color: #ffffff !important; }

.text-black {
  color: #1d1d1d !important; }

/* 0 General layout*/
body,
.body-page {
  background-color: #ffffff;
  color: #0d0d0d; }

/* 1. Typography */
/* Title */
.display-title {
  font-family: "Playfair Display", serif; }

.section-home .display-title {
  font-family: "Playfair Display", serif; }

.section-title .title {
  font-family: "Playfair Display", serif;
  text-transform: none; }

.media-service h4 {
  font-family: "Playfair Display", serif; }

.section-content h2 {
  font-family: "Playfair Display", serif; }

.section-content h3 {
  font-family: "Playfair Display", serif; }

/* 1 Header */
/* 1.1 menu icon / .menu-icon */
.menu-icon {
  border-color: rgba(29, 29, 29, 0.2); }
  .menu-icon:hover {
    border-color: #1d1d1d; }

.menu-icon .bars .bar1, .menu-icon .bars .bar2, .menu-icon .bars .bar3 {
  background: #1d1d1d; }

.page-header.content-white .menu-icon {
  border-color: rgba(255, 255, 255, 0.2);
  background: #ffffff; }
  .page-header.content-white .menu-icon:hover {
    border-color: #ffffff; }

/* 1.2 menu content / .nav-item */
.page-header-alpha .navbar-mainmenu .nav-item a:hover {
  color: #61ffa9; }

/* 2 Footer */
.page-footer.content-white {
  color: #ffffff; }

/* 3 Forms and buttons / .form-control- */
.form-control-outline,
.form-control-line {
  border-color: #1d1d1d; }
  .form-control-outline:focus,
  .form-control-line:focus {
    border-color: #5d5d5d; }

.form-control-line.form-control-white {
  border-color: #1d1d1d; }

/* Buttons / .btn-*/
.btn-outline-white {
  color: currentColor;
  border-color: currentColor; }

.btn-divided {
  border-width: 2px; }

/* 4. Overwritting Background cover of a section / .section .section-cover-full */
/* Home page */
.section-home .section-content {
  background: url("../img/bg-default.jpg") no-repeat;
  background-size: 110%;
  background-position: center;
  padding-top: 32px;
  padding-bottom: 64px;
  color: #ffffff;
  position: relative;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  .section-home .section-content:after {
    z-index: 0;
    position: absolute;
    content: "";
    top: 16px;
    left: 16px;
    bottom: 16px;
    right: 16px;
    border: 2px solid white; }
  .section-home .section-content > .row {
    position: relative;
    z-index: 1; }

/* Section title */
.section-title .title {
  color: #1d1d1d;
  background-image: url("../img/bg-default.jpg");
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  border: 16px solid black;
  -o-border-image: url("../img/bg-default.jpg") 5% stretch;
     border-image: url("../img/bg-default.jpg") 5% stretch; }

/* section content */
.section-description:not(.content-white) .section-content .display-title {
  color: #1d1d1d;
  background-image: linear-gradient(to right, #e6b933, #0896e6);
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent; }

/* section service / media service / .media-service */
.media-service h4 {
  color: #1d1d1d;
  background-image: linear-gradient(to right, #e6b933, #717c42);
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent; }

/* section products */
/* row product / .row-product */
.row-product#product-item-1 h3 {
  background-image: linear-gradient(to right, #f9b5b3, #05498b);
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent; }

.row-product#product-item-2 h3 {
  background-image: linear-gradient(to right, #e0dbd5, #5bc3ba);
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent; }

.row-product#product-item-3 h3 {
  background-image: linear-gradient(to right, #ce9367, #5bc3ba);
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent; }

/* section-contact */
.section-contact .title-desc .display-title {
  color: #1d1d1d;
  background-image: linear-gradient(to right, #e6b933, #717c42);
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent; }
