/*-------------------
Sample CSS overwriting main.css rules and changing title font, and
section design

[Table of contents]
    1 Typography
    2 Section design
    3 Page cover scroll animation
[Colors]
    White transluscent : rgba(white, 0.0625)
    Black : #0d0d0d
[Typography]
    Title : "Jost*" , "Montserrat", "Open Sans" ,sans-serif;
*/
/* 1 Typography */
.font-title {
  font-family: "Jost*" , "Montserrat", "Open Sans" ,sans-serif; }

.h-title, .i-title, .s-title, .item-title {
  font-weight: bold; }

.text-primary {
  font-weight: bold;
  color: currentColor !important; }

/* 2 Section design
/* Section background color */
.bg-level-1 {
  background: rgba(255, 255, 255, 0.0625); }

/* section header */
.section-header .h-title {
  position: relative;
  padding-bottom: 2rem; }
  .section-header .h-title:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    top: auto;
    height: 2px;
    width: 100%;
    background: currentColor;
    opacity: 0.2; }

/* 3 Page cover scroll animation */
.page-cover::before {
  position: absolute;
  z-index: 1;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
  background: #0d0d0d;
  transition: 0.6s; }

.page-cover.scrolled::before {
  opacity: 0.95; }
