/*-------------------
Sample CSS overwriting main.css rules

[Table of contents]
    1 Typography
    2 Content layout
    3 Page cover scroll animation
[Colors]
    Black : #0d0d0d;
[Typography]
    font-family :
    Geometric : "Glacial Indifference", "Montserrat"
*/
/* 1 Typography */
.font-title {
  font-family: "Poppins", "Jost*", "Montserrat", "Open Sans", sans-serif; }

.slide-title .title,
.section-title .title {
  font-family: "Poppins", "Jost*", "Montserrat", "Open Sans", sans-serif;
  font-weight: 500; }

.section-page .section-header p,
.section-page .section-content p {
  font-family: "Source Sans Pro", "Proxima Nova", "Noto Sans", "Segoe UI", "Opensans", "Roboto", "Helvetica", -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
  max-width: 40rem; }

.slide-a .s-header {
  border-bottom: none;
  padding-bottom: 0; }
  .slide-a .s-header .title {
    font-family: "Poppins", "Jost*", "Montserrat", "Open Sans", sans-serif;
    font-weight: 500; }
    .slide-a .s-header .title:after {
      display: none; }

.slide-b .s-header {
  border-bottom: none;
  padding-bottom: 0; }
  .slide-b .s-header .s-title {
    font-family: "Poppins", "Jost*", "Montserrat", "Open Sans", sans-serif;
    font-weight: 500; }
    @media screen and (min-width: 992px) {
      .slide-b .s-header .s-title {
        font-size: 5rem; } }
    .slide-b .s-header .s-title:after {
      display: none; }

.item-service-a .item-header .icon,
.item-service-a .item-header .title,
.item-grid-a .item-header .title {
  font-family: "Poppins", "Jost*", "Montserrat", "Open Sans", sans-serif; }

/* Navbar */
.navbar-brand.logo-brand {
  font-family: "Poppins", "Jost*", "Montserrat", "Open Sans", sans-serif;
  font-weight: 500; }
  .navbar-brand.logo-brand .fw-light {
    font-weight: 300 !important; }

.page-header .bd-bottom {
  border-bottom: none; }

.page-header .bd-left {
  border-left: none; }

.page-header .bd-right {
  border-right: none; }

@media screen and (min-width: 992px) {
  .page-header .navbar-top {
    font-size: 8rem;
    margin-top: 1rem;
    padding-right: 32px; } }

/* 2 Content layout */
/* Home section */
.header-home .home-two-desc .h-title.title-border {
  padding-bottom: 0.025em;
  font-weight: bold; }

@media screen and (min-width: 992px) {
  .header-home .h-title {
    font-size: 6rem;
    font-weight: 500; } }

/* Title style */
@media screen and (min-width: 992px) {
  .section-header .h-content {
    padding-left: 0rem; }
    .section-header .h-content:before {
      display: none; }
    .section-header .h-content h2 {
      font-weight: 500; } }

/* Pricing table */
.item-pricing-a .item-header h3,
.item-pricing-a .item-header .title {
  font-family: "Poppins", "Jost*", "Montserrat", "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 2rem; }

/* Item list */
.item-grid-c .item-img .i-title,
.item-grid-c .item-img h3 {
  font-size: 1.75rem;
  font-weight: 500; }

.item-service-a .item-header .title {
  font-weight: 500; }

.item-grid-a .item-header .title {
  font-weight: 500; }

.item-feature-a .item-title, .item-feature-a h3 {
  font-family: "Poppins", "Jost*", "Montserrat", "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 2rem; }

.item-feature-b .item-title, .item-feature-b h3 {
  font-family: "Poppins", "Jost*", "Montserrat", "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 2.5rem; }

/* content width */
.width-medium {
  max-width: 55rem;
  width: 100%; }

.text-wrapper {
  position: relative; }

@media screen and (min-width: 992px) {
  .section-header .mt-btn {
    margin-top: 1rem; } }

/* 3 Page cover scroll animation / .page-cover */
.page-cover::before {
  position: absolute;
  z-index: 1;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background: #0d0d0d;
  transition: 0.6s; }

.page-cover.scrolled::before {
  opacity: 0.95; }

/* 4 scrollbar fp nav */
/* fp nav */
#fp-nav.right {
  bottom: 0;
  top: 0;
  width: 0px;
  right: 64px;
  display: flex;
  align-items: center;
  justify-content: center; }

#fp-nav ul {
  margin-left: 64px;
  margin-top: 24px; }

#fp-nav ul li {
  height: 8px;
  width: 8px;
  margin-top: 8px;
  margin-bottom: 8px; }
  #fp-nav ul li a span {
    background: rgba(255, 255, 255, 0.1);
    opacity: 1; }

#fp-nav ul li a span,
#fp-nav ul li a:hover span,
#fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span {
  height: 8px;
  width: 8px;
  border-radius: 8px; }

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  left: 0;
  top: 0; }

/* 5. Footer */
.section-footer-a .footer-right {
  right: 8px; }
