/** Color customization **/


/** Font customization **/
.page-cover .title h2 {
    font-family: 'Montserrat-Bold';
	font-weight: normal;
	font-size: 3em;
	letter-spacing: -0.04em;
}
@media (min-width: 641px) {
	.page-cover .title h2 {
		font-size: 5em;
	}
}
.paper.transparent .wrapper .title h2{
	font-family: 'Montserrat-Bold';
	font-weight: normal;
	letter-spacing: -0.04em;
}
.paper .wrapper .header h2 {
	font-family: 'Montserrat-Bold';
	font-weight: normal;
	letter-spacing: -0.04em;
}
.paper.grey .wrapper .title h2 {
	font-family: 'Montserrat-Bold';
	font-weight: normal;
	letter-spacing: -0.04em;
}
.tile-container .section .caption h2 {
	font-family: 'Montserrat-Bold';
	font-weight: normal;
	letter-spacing: -0.04em;
}
.tile-container .circlelist .header h2 {
    font-family: 'Montserrat-Bold';
    font-weight: normal;
	letter-spacing: -0.04em;
    color: #222;
    font-size: 2.4rem;
}