/* Font customization */
.page{
/*	border-radius: 8px;*/
}

.quick-link .title,
.p-footer .text,
.p-footer .arrow-d,
.page-cent .content,
.page-cent .p-title h3,
.page-cent .p-title h2,
.page-cent .text,
.page h3,
.page h4,
.page p,
.page .form input,
.page .form label,
.page .form button,
.page .form textarea,
.page-contact a ,
.page-contact .socialnet a{
	font-family: 'Opensans';
	letter-spacing: -0.01em;
	color: #222222;
}
.header-top .menu a,
.page h2,
.page-footer{
	font-family: 'Opensans';
	letter-spacing: -0.01em;
}

.page .form button{
	color: #fff;
}
.quick-link a ,
.header-top .menu a:hover,
.page-contact .p-title .buttons,
.p-footer .arrow-d {
	background: rgba(255, 255, 255, 0.15);
}



/* Color */
.title.bg-blue,
.bg-blue,
.mask-blue:before,
.quick-link a:hover:after,
.quick-link a.marked,
.header-top.material .menu a:hover,
.page .form button{
	background: #F3013E;
}

/* Header menu */
.header-top.material .menu a,
.header-top .menu a{
	color: #fff;
}
.header-top .menu a:hover{
	color: #fff;
}
.header-top .menu a:first-child:after  {
	background: #fff;
}

/* Cover BG Color */
.cover-bg-mask{
	background: #212026;
	background: rgba(243, 1, 62, 0.9);
/*	background: url('../img/bg_gradient_color.jpg') no-repeat;*/
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

/* Panel content color*/
/* clickable button */
.page-click h2{
	color: #fff;
}
.page-click .p-button .icon a {
	color: #fafafa;
}
.page-click:after{
	background: #222222;
}
.page-click.line-right:after{
	background: #fafafa;
}
.page-click.line-left:after{
	background: #fafafa;
}
.page-click .p-button{
/*	background: rgba(34, 34, 34, 0.1);*/
	border-color: #fafafa;
}
.page-click .p-button:hover{
/*	background: rgba(34, 34, 34, 0.15);*/
}
.page-click .p-button:after{
	border-color: #070707;
}
/* Home */
.page .clock .second {
	box-shadow:  0px 0px 0px 2px #fff ,0px 0px 0px 7px #070707 inset;
}
.page .content .clock .header,
.page .clock .text,
.page .clock .elem-center .digit,
.page .clock .elem-right .digit,
.page .clock .elem-left .digit{
	font-family: 'Opensans';
	letter-spacing: -0.01em;
	color: #F3013E;
}
.page .clock .elem-center .digit,
.page .clock .elem-right .digit,
.page .clock .elem-left .digit
{
	letter-spacing: -0.05em;
}

.page-home .content h2 {
	color: #F3013E;
}
.page-home .content p ,
.page-home .content h3 {
	color: #FFF;
}
.page-home .content h2 strong {
}


/* Titles Contact / register */
.page .p-title .icon i ,
.page-cent .p-title h3{
	color: #F3013E;
	font-weight: 100;
}
.page h4{
	color: #F3013E;
}

/* Forms */
.page .form label,
.page .form button:hover{
	color: #F3013E;
}
/* social network */
.page-social .icon-list li:after{
	border: 0px solid #F3013E;
}
.page-social .icon-list a{
	color: #fff;
	background: #070707;
}
.page .form button{
	background: #070707;
}
.page .form .fields{
	border-bottom-color: #070707;
}
.page .form textarea{
	border-color: #F3013E;
}

/* Panel Background */
/* Contact panel */


#p-contact{
	background: #fff;
}
#p-message{
	background: #fff;
}
#p-contact-to-home{
	background: transparent;
}
#p-contact-to-home:hover{
/*	background: #4527a0;*/
}

/* Home panels */
#p-home-to-contact{
	background: transparent;
}
#p-home-to-contact:hover{
/*	background: #4527a0;*/
}
#p-home{
	background: #070707;
}
#p-home-to-register{
	background: transparent;
}
#p-home-to-register:hover{
/*	background: #4527a0;*/
}

/* register panels */
#p-register-to-home{
	background: transparent;
}
#p-register-to-home:hover{
/*	background: #4527a0;*/
}
#p-register{
	background: rgba(0, 0, 0, 0.8);
	background: #fff;
}
#p-social{
	background: rgba(0, 0, 0, 0.5);
	background: #fff;
}
