@CHARSET "utf-8";


@font-face{
	font-family: "mostraone";
	src: url(../fonts/mostraone.ttf) format("truetype");
}
@font-face {
    font-family: 'socialicoregular';
    src: url('../fonts/socialico-webfont.eot');
    src: url('../fonts/socialico-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/socialico-webfont.woff') format('woff'),
    url('../fonts/socialico-webfont.ttf') format('truetype'),
    url('../fonts/socialico-webfont.svg#socialicoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}